.nav {
    grid-area: n;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.699);
  }

  .item{
    font-size: 20px;
    color: white;
    text-decoration: none;
  }

  .item:hover {
    font-size: 30px;
  }

  .active {
    font-size: 30px;
    color: gold;
    text-decoration: none;
  }