.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "photo fullName"
    "photo aboutMe"
    "photo contacts"
    "photo lookingForAJob";
    padding: 1rem;
}

.photo {
    grid-area: photo;
}

.fullName {
    grid-area: fullName;
}

.aboutMe {
    grid-area: aboutMe;

}

.contacts {
    grid-area: contacts;

}

.lookingForAJob {
    grid-area: lookingForAJob;

}