.wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-gap: 1rem;
  grid-template-rows: 5rem 45rem;
  grid-template-columns: 15rem 60rem;
  margin: 1rem 2rem;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(241, 197, 215);
}