.friendMessage {
    left: 0;
}

.myMessage {
    right: 4rem;
}

.friendMessage, .myMessage {
    position: relative;
    background-color: white;
    border-color: white;
    border-radius: 2rem;
    width: 10rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    /* min-width: auto;
    max-width: 15rem; */
}